// ======================
// _units.sass
// ======================
// @import "units"
// @extend %..
// +mixin
// ======================


// ======================
// Remove horizontal whitespace between Inline-Block elements
// ======================

// @extend %inline-block_whitespace_removing // Remove whitespace between Inline-Block add to Parent element
%inline-block_whitespace_removing
    font-size: 0 /* Remove horizontal whitespace between Inline-Block elements */
    line-height: 0 /* Remove vertical whitespace between Inline-Block elements */
    letter-spacing: -1px /* Remove whitespace between Inline-Block elements for webkit */

// @extend %restore_normal_after_inline-block_whitespace_removing // restore normal values after Inline-Block whitespace removing add to Child elements
%restore_normal_after_inline-block_whitespace_removing
    font-size: medium
    line-height: normal
    letter-spacing: normal


// ======================
// Micro Clearfix
// A clearfix is a way for an element to automatically clear its child elements,
// so that you don't need to add additional markup.
// It's generally used in float layouts where elements are floated to be stacked horizontally.
// The clearfix is a way to combat the zero-height container problem for floated elements
// ======================

// +clearfix() // Micro Clearfix
=clearfix
    &:before,
    &:after
        display: table
        content: ""
    &:after
        clear: both
    &
        zoom: 1 // For IE 6/7 (trigger hasLayout)