/* Created by O.V.Horyn on July, 2016
 */

// ________@font-face___________

@font-face
  font:
    family: 'Aller'
    style: normal
    weight: bold
  src: local('Aller Bold'), url(../fonts/Aller/Aller-Bold.ttf) format('truetype')

@font-face
  font:
    family: 'DroidSans'
    style: normal
    weight: normal
  src: local('DroidSans Regular'), url(../fonts/DroidSans/DroidSans-Regular.ttf) format('truetype')


// ________import___________

@import "reset"
@import "units"


// ________colors___________

$dark_letters_color: #484848
$white_letters_color: #D4D4D4
$selected_letters_color: #86ACC4

$dark_background_color: #3A3D40
$white_background_color: #FDFDFD


// ________main selectors___________

body
  background-color: $white_background_color
  color: $dark_letters_color
  font:
    family: 'DroidSans', sans-serif
    style: normal
    weight: normal
    size: 13px

%Aller_bold
  font:
    family: 'Aller', sans-serif
    style: normal
    weight: bold


h3
  @extend %Aller_bold
  font-size: 15px

h4
  @extend %Aller_bold
  font-size: 14px

$container_max-width: 962px
$container_min-width: 306px

.container
  position: relative
  max-width: $container_max-width
  min-width: $container_min-width
  margin: 0 auto
  background-color: inherit

.button
  background: url("../img/button.png") no-repeat 0 0 transparent
  width: 112px
  height: 31px
  font: inherit
  color: #fff
  cursor: pointer
  border: none
  border-radius: 2px
  &:active
    box-shadow: none

%a
  text-decoration: none
  color: inherit

.a_block
  @extend %a
  &:hover
    box-shadow: 0 0 5px rgba(0,0,0,0.5)

.divider_dark
  background: url("../img/double_dotted_dark.png") repeat-x
  height: 3px

.divider_light
  background: url("../img/double_dotted_light.png") repeat-x
  height: 3px

.selected
  color: $selected_letters_color


// ________site_header___________

$site_header_height: 88px

.site-header
  background-color: $dark_background_color
  border-bottom: solid 5px #4A4D50
  outline: solid 1px #000
  min-width: $container_min-width

.site-header_container
  @extend .container
  +clearfix() // Micro Clearfix for parent block

a.logo
  @extend %a
  display: inline-block
  width: 89px
  height: 32px
  margin: 32px 10px 20px 0
  background: url("../img/logo.png")

ul.nav
  +clearfix() // Micro Clearfix for parent block
  border-left: solid 1px #2D3032
  border-right: solid 1px #424547
  float: right

  li
    float: left

  $a_padding_top: 51px

  a
    @extend %a
    display: inline-block
    height: $site_header_height - $a_padding_top
    padding: $a_padding_top 20px 0
    border-left: solid 1px #424547
    border-right: solid 1px #2D3032
    color: $white_letters_color
    text-transform: uppercase
    font:
      family: 'Aller', sans-serif
      style: normal
      weight: bold
      size: 12px
    &:hover
      background-color: #35373A
      color: $selected_letters_color
    &:active
      background-color: $dark_background_color


// ________blocks___________

.post_blocks
  padding: 31px 0 57px

.postGrid
  margin-right: -19px

.posts_container_footer
  margin-top: 64px

.posts_button
  @extend .button
  margin-top: 24px
  &:hover
    box-shadow: 0 0 5px rgba(0,0,0,0.5)

.post_block
  display: block
  width: 306px
  background-color: #F7F7F7
  border: solid 1px #E8E8E8
  margin: 9px 0
  @extend .a_block

.post_img
  width: 100%

.post_content
  padding: 10px 20px 12px

.post_header
  text-transform: capitalize
  padding-bottom: 3px
  line-height: 26px

.post_article
  line-height: 20px

.post_footer
  margin-top: 15px
  color: #989898
  font-size: 11px
  +clearfix() // Micro Clearfix for parent block

.post_date
  position: relative
  padding-left: 20px
  margin-top: 12px
  float: left

.post_comments
  position: relative
  padding-left: 22px
  margin-top: 12px
  float: right

%icon
  position: absolute
  left: 0
  bottom: 0
  background: url("../img/icons_sprite.png") no-repeat

.date_icon
  @extend %icon
  background:
    size: 384% auto
    position: 0 0
  width: 12px
  height: 13px

.comments_icon
  @extend %icon
  background:
    size: 287% auto
    position: 42% 0
  width: 16px
  height: 11px


// ________site_footer___________

$site_footer_color: #AFAFAF

.site_footer
  background-color: $dark_background_color
  padding: 9px 0 40px
  border-top: solid 5px #2F3235
  color: $site_footer_color
  min-width: $container_min-width

  $footer_block_side_margin: 13px

  .site_footer_container
    @extend .container
    max-width: $container_max-width + 2*$footer_block_side_margin


  .wrapper
    +clearfix() // Micro Clearfix for parent block

  .footer_header
    text-transform: uppercase
    line-height: 22px
    color: $white_letters_color
    padding-bottom: 3px
    margin-top: 20px

  %footer_block
    width: 220px
    min-height: 337px
    float: left
    margin: 0 $footer_block_side_margin

  .pop_posts
    @extend %footer_block

  .pop_posts_item
    line-height: 22px
    padding-top: 15px

  .pop_post_date
    color: #899096
    line-height: 25px
    font-size: 11px
    padding: 7px 0  11px

  .twitter
    @extend %footer_block

  .twitter_item
    line-height: 25px
    padding: 14px 0 12px

  .twitter_icon
    @extend %icon
    background:
      size: 287% auto
      position: 101% 0
    width: 16px
    height: 12px
    display: inline-block
    position: relative
    margin: 0 11px -1px 0

  .aboutMe
    @extend %footer_block

  .aboutMe_item
    line-height: 25px
    padding: 14px 0 10px

  .contactFormBbock
    @extend %footer_block

  .contactForm
    margin-top: 11px

  %contactFormItem
    background-color: #27292b
    color: inherit
    padding: 0
    border: none
    margin-top: 10px
    width: 219px

  .contactForm_inputText
    @extend %contactFormItem
    height: 35px

  .contactForm_textarea
    @extend %contactFormItem
    height: 140px
    resize: none

  .contactForm_button
    @extend .button
    margin-top: 8px
    &:hover
      box-shadow: 0 0 5px rgba(256,256,256,0.5)

.copyright_and_social
  border-top: solid 2px #24272A
  padding: 18px 0 22px
  background-color: #2F3235
  color: $site_footer_color
  min-width: $container_min-width

  .copyright_and_social_container
    @extend .container
    +clearfix() // Micro Clearfix for parent block

  .copyright
    float: left
    margin: 10px 7px 7px 0

  .social
    margin-top: 5px
    float: right
    @extend %inline-block_whitespace_removing // Remove whitespace between Inline-Block add to Parent element

  %social_item
    display: inline-block
    width: 25px
    height: 25px
    margin: 0 3px
    background: url("../img/social_sprite.png") no-repeat
    background-size: 300% auto
    cursor: pointer
    &:hover
      box-shadow: 0 0 5px rgba(256,256,256,0.5)
    &:active
      box-shadow: none

  .rss
    @extend %social_item
    background-position: 0 0

  .facebook
    @extend %social_item
    background-position: 50% 0

  .twitter
    @extend %social_item
    background-position: 100% 0

  .dribbble
    @extend %social_item
    background-position: 0 100%

  .pinterest
    @extend %social_item
    background-position: 50% 100%

  .linkedin
    @extend %social_item
    background-position: 100% 100%


// __________@media $container_max-width_________

@media all and (max-width: $container_max-width)

  .container
    max-width: 650px

  .site_footer
    .site_footer_container
      max-width: 500px


// _________@media 650__________

@media all and (max-width: 650px)

  .container
    width: $container_min-width

  .site-header_container
    width: 100%

  ul.nav
    float: none
    border-top: solid 1px #2D3032
    border-bottom: solid 1px #424547

    li
      float: none

    a
      display: block
      height: 30px
      padding: 20px 0 0
      text-align: center
      border-top: solid 1px #424547
      border-bottom: solid 1px #2D3032

  .postGrid
    margin-right: -19px

  .site_footer
    .site_footer_container
      width: 90%

    %footer_block
      width: 80%
      min-height: 300px

    .contactFormBbock
      width: 220px


